@model PostFormModel

<div class="hbutton-bar">
  @foreach(var t in BBCode.TagButtons) {
  <a class="hbutton" href="#" onclick="event.preventDefault(); addTag('@t.Text', this)">
    <img src="@t.ImgPath" alt="@t.Text" title="@t.Title" /></a>
  
  }
</div>
<div class="smiles-box">
  @foreach(var s in BBCode.SmileButtons) {
    var text = s.Text.Replace("\\", "\\\\");
    text = text.Replace("'", "\\'");
    <a href="#" onclick="event.preventDefault(); addSmile('@text ', this)">
      <img src="@s.ImgPath" alt="@s.Text" title="@s.Text @s.Title" /></a>
  }
</div>
<textarea class="ar" rows="17" cols="50" asp-for="Body" ></textarea><br>
<span asp-validation-for="Body"></span><br>