@model TopicViewModel

@using Microsoft.AspNetCore.Identity
@using System.Globalization

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

<h2 class="topic-title">@Model.Title</h2>

<partial name="_PostShowPartial" model="@Model"></partial>

<div id="comment-container">
  @foreach (var p in Model.Comments) 
  {
    <partial name="_PostShowPartial" model="@p"></partial>
  }
</div>

<a name="add"></a>
@if (Model.CanComment) { 
  <partial name="_CommentCreatePartial" model="@new CommentFormModel { TopicPostId = Model.TopicPostId }"></partial>
}
else {
  <p>@Model.CannotCommentReason</p>
}

<script>
  topicPostId = @Model.TopicPostId;
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/topic.js"></script>