@using System.Globalization

@model TopicPreviewViewModel

@{
  var commentCount = Model.CommentCount;
  var commentCountStr = "";
  if (commentCount != 0)
  {
    var ending = "";
    if (commentCount % 10 == 1)
    {
      ending = "й";
    }
    else if (commentCount % 10 >= 2 && commentCount % 10 <= 4)
    {
      ending = "я";
    }
    else
    {
      ending = "ев";
    }

    if ((commentCount / 10) % 10 == 1)
    {
      ending = "ев";
    }

    commentCountStr = commentCount.ToString() + " комментари" + ending;
  }
}

@{
  var time = TimeZoneInfo.ConvertTimeFromUtc(Model.TimeStamp, Beon.Settings.TimeZone);
  var timeStr = time.ToString("HH:mm:ss", CultureInfo.CreateSpecificCulture("ru-RU"));
}

<div class="postbg p75">
  @if (Model.CannotReadReason != null)
  {
    <span class="topic-title">...</span>
  }
  else
  {
    <a class="topic-title" href="@Model.Path">
      @Model.Title
    </a>
  }
  <partial name="_UserProfileLinkPartial"
    model="@new UserProfileLinkViewModel(Model.Poster)"></partial>
  &nbsp;<span class="m7">@timeStr</span>
  @if (Model is CommunityDiaryEntryPreviewViewModel)
  {
    var cast = (CommunityDiaryEntryPreviewViewModel)Model;
    <span> в сообществе cast.Link.Name</span>
  }
  <div class="flex-container">
    @if (Model.Poster.AvatarFilePath != null)
    {
      <div class="avatar">
        <img src="@Model.Poster.AvatarFilePath" />
      </div>
    }
    <div class="post-body">
      @if (Model.CannotReadReason != null)
      {
        @Html.Raw(Model.BodyRawHtml)
        @if (Model is DiaryEntryPreviewViewModel)
        {
          var cast = (DiaryEntryPreviewViewModel)Model;
          <br>
          <span>Категории:</span>
          <br>
          foreach(string s in cast.Categories)
          {
            <span>@s</span>
          }
        }
      }
      else
      {
        <span>@Model.CannotReadReason</span>
      }
    </div>
  </div>

  <div class="flex-container">
    @if (Model.CanEdit)
    {
      <div class="m9">
        <partial name="_TopicOptionsPartial" model="@Model.PostId"></partial>
      </div>
    }

    <div style="flex: 1; text-align: right; font-size: 9px;">
      @if (commentCount != 0)
      {
        <img class="flag" src="/i/discuss.png" width="13" height="12">
        <a href="@Model.Path">@commentCountStr</a>
      }
      @if (Model.CanComment)
      {
        <span>|</span>
        <a href="@Model.Path">Прокомментировать</a>
      }
    </div>
  </div>
</div>